@page
@model Itec245_Final.Pages.MyShoes.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    body{
        background-color:black;
    }
    .myimg:hover{
        transform:scale(1.1,1.1);
        transition:0.2s;
    }
</style>

<h1>Shop</h1>




<p>
    <a asp-page="Create">Create New</a>
</p>
}

        <div class="container d-flex ">
            <div class="row">
                @foreach (var item in Model.Shoes)
                {

                    <div class="card m-3" style="width: 18rem;">
                        <a href="@Html.DisplayFor(modelItem => item.Images)">
                    <img class="card card-img-top myimg" style="height:300px; margin-top:10px;" src="@Html.DisplayFor(modelItem => item.Images)" alt="Card image cap" onclick="myfunction()">

                        </a>
                        <div class="card-body">
                            <h5 class="text-black">@Html.DisplayFor(modelItem => item.Brand)</h5>
                            <p class="text-black">@Html.DisplayFor(modelItem => item.Name)</p>
                            <p class="text-black">@Html.DisplayFor(modelItem => item.Type)</p>
                            <p class="text-black">Price:  @Html.DisplayFor(modelItem => item.Price)</p>
                            <form method="post">
                    <button class="btn btn-success" asp-route-myvalue="@item.Id" asp-page-handler="AddCustom">Add To Cart <i class="fas fa-shopping-cart text-danger"></i></button>
                    </form>
                    <br/>
                            <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id"> More Details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
